<h1>Editing Answered Questionnaire</h1>

<%= render 'form', form_path: questionnaire_answered_path %>

<%= link_to 'Show', @answered_questionnaire %> |
<%= link_to 'Back', answered_questionnaires_path %>
