<nav class="navbar navbar-default options">
  <ul class="nav nav-pills">
    <li role="presentation">
      <%= link_to new_questionnaire_answered_path(@questionnaire) do %>
        <i class="fa fa-check-square-o"></i>
        Responder
      <% end %>
    </li>
  </ul>
</nav>

<div class="box box-default">
  <div class="box-header">
    <h3 class="box-title">Preguntas</h3>
  </div>
  <div class="box-body">
    <ol>
      <% @questionnaire.questions.each do |question| %>
        <li class="question" data-yes="<%= question.count_answers_with('Si') %>" data-no="<%= question.count_answers_with('No') %>">¿<%= question.text %>?</li>
      <% end %>
    </ol>
  </div>
</div>

<div class="box box-success">
  <div class="box-header">
    <h3 class="box-title">Respuestas</h3>
  </div>
  <div class="box-body">
    <div class="chart">
      <canvas id="bar-chart-answer"></canvas>
    </div>
  </div>
</div>
